<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Platform Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="public/script.js"></script>
    <script src="public/dashboard-data-script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="public/filter.js"></script>

</head>
<body>
    <div class="container">

        <div id="filter">
            <!-- Corrected the ID to match the Vue instance -->
            <div class="text-center d-flex justify-content-between align-items-center mt-5">
                <div>
                    <h2 class="mt mb-0" style="font-size: 24px;">Data Platform Dashboard</h2>
                </div>
            </div>
                <div class="form-container me-4" style="width: 60%;">
                    <form id="customForm" class="d-flex flex-wrap" @submit.prevent="handleSubmit">
                        <div class="form-group">
                            <select v-model="selectedDate" class="custom-select">
                                <option value="1day">Today</option>
                                <option value="7days">7 Days</option>
                                <option value="14days">14 Days</option>
                                <option value="30days">30 Days</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select v-model="selectedDomain" class="custom-select">
                                <option value="www.almayadeen.net">Al Mayadeen</option>
                                <option value="mangoPulse.com">Mango Pulse</option>
                            </select>
                        </div>
                        <div class="form-group" style="flex: 1;">
                            <input v-model="selectedCategory" type="text" class="text-field" placeholder="Category" style=" padding: 12px;">
                        </div>
                        <div class="form-group" style="">
                            <button type="submit" class="submit-btn" >Filter</button>
                        </div>
                    </form>
                </div>
            
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-3">
                <div class="analytics-section">
                    <h5>PageViews</h5>
                    <h5 id="pageviews" class="analytics-data"></h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="analytics-section">
                    <h5>Authors</h5>
                    <h5 id="authors" class="analytics-data"></h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="analytics-section">
                    <h5>Articles</h5>
                    <h5 id="articles" class="analytics-data"></h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="analytics-section">
                    <h5>Users</h5>
                    <h5 id="users" class="analytics-data"></h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="analytics-section">
                    <canvas id="DateChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="analytics-section">
                    <canvas id="CategoryChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="analytics-section">
                    <canvas id="AuthorChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="analytics-section">
                    <canvas id="CountryNameChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script>
        //var domain = 'www.almayadeen.net'; //to change later

        //fetching data and designing the charts
        function executeDashboards(domain = "www.almayadeen.net") {
            fetchDashboardStatisticsData(domain)
            fetchDatePageViewsData(domain);
            fetchCategoryPageViewsData(domain);
            fetchAuthorPageViewsData(domain);
            fetchCountryPageViewsData(domain);
        }

        //execute dashboard function
        executeDashboards()
        //execute the filter
        filter()
    </script>

</body>
</html>
