<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data PlatForm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="public/ArticlesScript.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!--<script>
        var mydata =
        {
            ip: "102.129.65.0",
            postid: '129t214h38q2a34',
            postcategory: 'News',
            postauthor: 'Fatima',
            posttitle: 'Mango Analytics Impact',
            domain: 'x.com',
            userId: '313aa122-0666-46cd-8468-68e514beecvt',
            posturl: "url.com",
            postimage: "image",
            posttags: ["tag1", "tag2", "tag3"]
        };
        // Define a function to make the first API call

                var url = '/api/collect';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: JSON.stringify(mydata),
                    contentType: 'application/json',
                    success: function () { console.log('Tracking') },
                    error: function (error) { console.log(error); }
                });
        }



    </script>-->
    <script id="tawsiyat-metadata" type="text/tawsiyat">
        {
          "type": "article",
          "postid": "1833596",
          "title": "تعذيب وإهمال طبي.. تقارير طبية إسرائيلية تكشف كيف استشهد أسيرين في سجون الاحتلال",
          "url": "https://www.almayadeen.net/news/politics/تعذيب-وإهمال-طبي---تقارير-طبية-إسرائيلية-تكشف-كيف-استشهد-أسي",
          "keywords": "فلسطين المحتلة,الاحتلال الإسرائيلي,غزة,طوفان الأقصى,المقاومة الفلسطينية,كتائب القسام,حماس,المسجد الأقصى,غلاف غزة,سجون الاحتلال الإسرائيلي,الإهمال الطبي,آثار تعذيب,الشهيد محمد الصبار,الشهيد عبد الرحمن البحش",
          "thumbnail": "https://alpha-ar-media.almayadeen.net/media/image/2024/3/19/5ba704b1-d45a-47d5-816a-ddb6cdb8aba9.png?v=3&width=1000",
          "video_duration": null,
          "word_count": "143",
          "lang": "ar",
          "published_time": "2024-03-19T09:18:39+02:00",
          "last_updated": "2024-03-19T09:18:39+02:00",
          "description": "وسائل إعلام إسرائيلية تنشر نتائج التقارير الشرعية لتشريح جثماني شهيدين فلسطينيين ارتقيا داخل السجون الإسرائيلية بعد 7 تشرين الأول/ أكتوبر 2023.",
          "author": "الميادين نت",
          "classes": [
            {
              "key": "class1",
              "mapping": "posttype",
              "value": "أخبار"
            },
            {
              "key": "class2",
              "mapping": "category",
              "value": "سياسة"
            },
            {
              "key": "class3",
              "mapping": "country",
              "value": "فلسطين المحتلة"
            },
            {
              "key": "class5",
              "mapping": "coverage",
              "value": "طوفان الأقصى"
            },
            {
              "key": "class6",
              "mapping": "author",
              "value": "الميادين نت"
            }
          ],
          "html": "",
          "lite_url": ""
        }</script>
    <script src="public/mango-data-platform.js"></script>

</head>
<!--Reccomnedation demo that show Reccomendaed for Your articles and call  api/reccomend https://mdn.tv/7fwF اخترنا لك
-->

<body>
    <!--show trending articles -->
    <div id="trending">
        <ul class="trendingLists">
            <li v-for="(item, index) in trendingItems" :key="item.id">
                <div>
                    <h4>{{item.postTitle}}</h4>
                    <a :href="item.link1">{{ item.postUrl }}</a>
                    <a :href="item.link2">{{ item.postImage }}</a>
                </div>
            </li>
        </ul>
    </div>
    <!--show recommended articles -->
    <div id="recommended">
        <ul class="recommendedLists">
            <li v-for="(item, index) in recommendedItems" :key="item.id">
                <div>
                    <h4>{{item.postTitle}}</h4>
                    <a :href="item.link1">{{ item.postUrl }}</a>
                    <a :href="item.link2">{{ item.postImage }}</a>
                </div>
            </li>
        </ul>
    </div>
    <script>
        fetchTrendingArticlesData("102.129.65.0");//toDo update ip
        fetchRecommendedArticlesData("313aa122-0666-46cd-8468-68e514beecvt")//toDo update user id
    </script>


</body>
</html>
